// Стили для новых анимаций
.rules {

  &__lead {
    transform: translateY(20px);
    opacity: 0;

    .screen.active & {
      opacity: 1;
      transform: none;
      transition: all 0.3s ease-in 0.1s;

    }
  }

  &__item {

    .screen.active & {

      &:before {
        animation-name: rule_num_appear;
        animation-duration: .35s;
        animation-delay: 0.4s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(.17,.67,.89,1.84);
      }

      p {
        animation-name: rule_text_appear;
        animation-duration: .35s;
        animation-delay: 0.6s;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(.5,.85,.39,.95);

      }

      &:nth-child(2) {

        &:before {
          animation-delay: .5s;
        }

        p {
          animation-delay: .7s;
        }
      }

      &:nth-child(3) {

        &:before {
          animation-delay: .6s;
        }

        p {
          animation-delay: .8s;
        }
      }

      &:nth-child(4) {

        &:before {
          animation-delay: .7s;
        }

        p {
          animation-delay: .9s;
        }
      }
    }
  }

  &__link {
    color: transparent;

    &:before {
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: 100% 50%;
    }

    .screen.active & {
      animation-name: rule_btn_color;
      animation-duration: .2s;
      animation-fill-mode: forwards;
      animation-delay: .15s;
      animation-timing-function: cubic-bezier(.5,.85,.39,.95);
      animation-play-state: paused;

      &:before {
        animation-name: rule_btn_appear;
        animation-duration: .35s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(.5,.85,.39,.95);
        animation-play-state: paused;
      }
    }

    .screen.active &.show-link {
      animation-play-state: running;

      &:before {
        animation-play-state: running;
      }
    }
  }
}

.text__word {
  display: inline-block;
  margin-left: 5px;
  margin-top: -.15em;
  margin-bottom: -.3em;
  line-height: 1.2;
  padding-right: 5px;
  overflow: hidden;
  white-space: nowrap;

  & > span {
      transform: translate3d(0, 1.2em, 0);
      display: inline-block;
  }
}

.intro__title.active .text__word > span,
.intro__date.active .text__word > span {
    transform: translate3d(0, 0, 0);
}
